<div id="downloads">
  <a name="downloads"></a>
  <h2> Pliki do pobrania </h2>
  <h4> Nagranie z głównego wydarzenia - wykładu Richarda Stallmana na PW</h4>
  <ul>
    <li> <a href="http://dl.rms2013.pl/A Free Digital Society - Richard Stallman.webm.torrent">Pobierz plik torrent (Zalecane!) </a></li>
    <li> <a href="magnet:?xt=urn:btih:defa9a5c4880b4d7e86c25c8ce9fe0803aaedebf&dn=Richard+Stallman+-+%26bdquo%3BA+free+digital+society%26rdquo%3B%2C+Warsaw+&tr=udp%3A%2F%2Ftracker.openbittorrent.com%3A80&tr=udp%3A%2F%2Ftracker.publicbt.com%3A80&tr=udp%3A%2F%2Ftracker.istole.it%3A6969&tr=udp%3A%2F%2Ftracker.ccc.de%3A80"> Pobierz za pomocą klienta torrent (magnet link - również zalecane!)</a></li>
    <li> <a href="http://dl.rms2013.pl/A Free Digital Society - Richard Stallman.webm">Pobierz plik w formacie .webm</a></li>

  </ul>

  Jeśli tylko uzyskamy dostęp do nagrania z wydarzenia w Centrum Cyfrowym, również się tu pojawi.
</div>

