<div id="stream">
  <a name="stream"></a>
  <%= t('content.stream_html') %>
  <iframe style="float:left; margin-right:20px;" src="http://brama.elka.pw.edu.pl/stream/606" height="384"
    width="480" frameborder="0" scrolling="no"></iframe>
  <aside>
    <a href="http://brama.elka.pw.edu.pl/">
      <img alt="polibuda.info" src="<%= image_path "brama.png"%>" />
    </a>
    <p> <%= t('content.brama_does_streaming_html')%></p>
  </aside>
</div>
