// Place all the styles related to the Attendees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//colors
$background-color: #7F8E95;
$foreground-color: #EDEDED;
$error-color: #BB0000;
$decal-color: #554C44;
$decal-text-color: #F2F3D8;

$footer-height: 218px;

.main-page-content {
  background-color: $foreground-color;
  padding-bottom: 30px;
  box-shadow: 2px 3px 3px #666666;
}

#wrap {
  margin-left: auto;
  margin-right: auto;
}

span.attribution {
  display:none;
}

#recaptcha_widget_div {
  margin-left: 40px;
  display: inline-block;
}

#error_explanation {
  color: $error-color;
}

.field_with_errors > input{
  border: 2px solid $error-color;
}

body {
  height: 100%;
  background-color: $background-color;
}

#notice {
}

/*header*/

#header {
  margin-bottom: 30px;
}

#header h1 {
  text-align: right;
  font-family: 'Montserrat Subrayada', sans-serif;
  color: black;
}


/*navigation */

nav .nav-tabs {
  border-bottom: 1px solid $decal-color;
}

nav .nav-tabs > li {
  margin-bottom: -2px;
  position:relative;
}

nav .nav-tabs > li > a {
  border-radius: 0px;
  font-weight: bold;
  color: black;
  margin-right: 0px;
}

nav .nav-tabs > li > a.stream-active {
  color: #00AA00;
}

nav .nav-tabs > li.active > a.stream-active {
  color: white;
}

nav .nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > li > a:hover {
  border-width: 0px;
  background-color: $decal-color;
  color: white;
}

/*content*/


.form-horizontal .controls {
  margin-left: 40px;
}

form {
  margin: 20px 0;
}



div#content .main-page-content .tab-content {
  margin-left: 30px;
  margin-right: 30px;
}


/*ORGs*/

ul.org {
  list-style: none outside none;
  float: none;

  > li {
    text-align: center;
    text-align: center;
    float: left;
    position: relative;
    margin-right: 20px;
    margin-bottom: 30px;
    display: block;

    > a {
      display: block;
      margin-bottom: 10px;
    }

    > span {
      line-height: 20px;
      background: none repeat scroll 0 0 $decal-color;
      max-width: 100px;
      display:inline;
      border-radius: 4px 4px 4px 4px;
      color: $decal-text-color;
      /*display: block;*/
      line-height: 20px;
      padding: 2px 10px;
      margin-left: auto;
      margin-right: auto;
      float:right;
    }

    > span.short {
      float:none;
      display:inline;
    }
  }
}

#organizers > * {
  clear: both;
}
@media only screen and (min-width: 1000px), only screen and (min-device-width: 1000px) {
  #wrap{ 
    margin-left: 50px;
    margin-right: auto;
    width: 1000px;
  }
  #wrap > aside {
    margin: 0px;
    width: 270px;
    height: 405px;
    background-image: url(image_path("rms.jpg"));
    float: left;
    box-shadow: 2px 3px 3px #666666;
  }
  div#content {
    float: right;
  }
  .main-page-content {
    width: 730px;
    background-color: $foreground-color;
    min-height: 375px;
    box-shadow: 2px 3px 3px #666666;
    margin-bottom: 4px;
  }

  span.attribution {
    width: 730px;
    display:block;
    text-align: justify;
    font-size: 80%;
    > a {
      color: #333333;
      text-decoration: underline;
    }
    margin-bottom: 20px;
  }

  nav .nav-tabs > li > a {
    border-radius: 0px;
    font-weight: bold;
    color: black;
    margin-right: 0px;
    font-size: 130%;
  }

  nav .nav-tabs {
    border-bottom: 1px solid $decal-color;
    display:block;
  }
}

#stream {
  iframe {
    float:left; 
    margin-right:20px;
    box-shadow: 3px 3px 6px #666666;
    margin-bottom: 30px;  
    height: 384px;
  }
  aside {
    margin: 10px;
    border: 2px $decal-color solid;
    background-color: #E6E6E6;
    padding:20px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

    img {
      margin-bottom: 10px;
    }
  }
}
